body {

}
table {
	width:100%;
}
thead {
	
}
th {
	text-align:left;
    
    }
    
td {
	
	padding:0px;
}

.animate_hack {
	display: block;
}

td>div {
	padding-left: 3px;
}
tbody>tr:nth-child(even)>td>div {
  background-color: lightblue;
}
tbody>tr:nth-child(odd)>td>div {
  background-color: #99ff99;
}